@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* DIV STYLE */

.bgDiv {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../Auth/assets/umberto-cofini-lEOogB2xh1M-unsplash.jpg');
    overflow: scroll;
}

.wishlistDiv {
    margin: auto;
    margin-top: 4em;
    background-color: #E1AD01!important;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
    border-radius: 20px 20px 0px 0px;
    width: 80%;
    padding: 3em;
}

.tableDiv {
    background-color: white!important;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
    margin: auto;
    width: 100%;
    padding: 1em;
}

/* BTN STYLE */

.addBtn {
    background-color: darkslategrey;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 15pt;
    margin: auto;
    margin-bottom: 1em;
    width: 8em;
    border: none;
}
.addBtn:hover {
    background-color: rgb(6, 54, 47)!important;
  }

.updateBtn {
    background-color: darkslategrey;
    color: white;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: .3em;
    width: 5em;
    border: none;
    display: block;
}

.updateBtn:hover {
    background-color: #E1AD01;
}

.tableBtn {
    background-color: darkslategrey;
    color: white;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: .3em;
    width: 5em;
    border: none;
    display: block;
}
.tableBtn:hover {
    background-color: #E1AD01;
}

/* TEXT STYLE */

.wishlistDisplayFont {
    font-family: 'Abril Fatface', cursive;
    color: white;
}

.wishBodyFont {
    font-family: 'Open Sans', sans-serif!important;
}

.tableDisplayFont {
    font-family: 'Abril Fatface', cursive;
    font-size: 12pt;
}

.tableBodyFont {
    font-family: 'Special Elite', cursive;
    font-size: 15pt;
}

.artistBodyFont {
    font-family: 'Special Elite', cursive;
    font-size: 20pt;
}

/* INPUTS */

.recordInput {
    font-family: 'Special Elite', cursive;
    font-size: 15pt;
    background-color: white!important;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
    margin: auto;
    margin-bottom: .5em;
    border: none;
}

/* MODAL */

.modalCloseBtn {
    border-radius: 50px !important;
    border: none !important;
    background-color: darkslategray!important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: white  !important;
    float: right !important;
    margin-left: 430px;
    margin-top: 0px;
    padding: 5px 15px 5px 15px !important;
}

.modalCloseBtn:hover {
    background-color: #E1AD01!important;
}

.modalFont {
    font-family: 'Abril Fatface', cursive!important;
    float: left;
    margin-bottom: 1em;
}

.modalHeader {
    background-color: #999284;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
}

.modalBody {
    background-color: #d1c7ae;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
    padding: 1em;
}